In [1]:
import pandas as pd
import os
import sys
import datetime
import urllib
import numpy as np
import cv2
import pymysql
import json

from pathlib import Path
from enum import Enum
from io import BytesIO, StringIO
from typing import Union

from detection import upload_to_gcs
from detection import generate_download_signed_url_v4
from detection import get_similar_products_uri
from detection import query_product

In [2]:
project_id = 'abstract-veld-289612'
location = 'asia-east1'
product_set_id = 'PAIR-Filter'
bucket_name = 'ftmle'
product_category= 'homegoods-v2'

In [3]:
def search_product(bucket_name, blob_name):
    serving_url = generate_download_signed_url_v4(bucket_name, blob_name)
    res = get_similar_products_uri(project_id, location, product_set_id, product_category,
        image_uri=serving_url, filter='')
    return res, serving_url

In [13]:
#Setup Connection to mysql database
conn = pymysql.connect(
    host='35.221.181.94',
    port=int(3306),
    user="mkhoa",
    passwd='NTMK261194@dng',
    db="project",
    charset='utf8mb4')

cur = conn.cursor()

def query_room():
    '''
    
    '''
    query = '''
    SELECT a.id as 'room_id', a.subtitle as 'room_type', b.bucket_path
    FROM project.DesignsDetail a
    LEFT JOIN Files b ON a.id = b.id
    WHERE b.bucket_path like '%/Design/%' AND (a.subtitle like '%Living%' OR a.subtitle like '%Dining%' OR a.subtitle like '%Bedroom%')
    '''
    try:
        cur.execute(query)
    except Exception as err:
        print('ERROR BY SELECT:', err)
    result = cur.fetchall()
    return result

def insert_design2item(room_id, idx_results, product_id, score):
    '''
    
    '''
    query = f'''
    INSERT INTO design2item(room_id, idx_results, product_id, score)
    VALUES('{room_id}', '{idx_results}', '{product_id}', '{score}');
    '''
    try:
        cur.execute(query)
        conn.commit()
    except Exception as err:
        print('ERROR BY INSERT:', err)

In [14]:
room = pd.DataFrame(query_room(), columns=['room_id', 'room_type', 'bucket_path'])

In [15]:
room

,room_id,room_type,bucket_path
0,5325,"Contemporary Living Room, Omaha",Images/Design/5325-home-design.jpg
1,5326,Transitional Living Room,Images/Design/5326-home-design.jpg
2,5327,"Contemporary Living Room, Los Angeles",Images/Design/5327-home-design.jpg
3,5329,"Transitional Living Room, Salt Lake City",Images/Design/5329-home-design.jpg
4,5330,"Contemporary Living Room, Boston",Images/Design/5330-home-design.jpg
...,...,...,...
23833,29496,"Transitional Bedroom, Portland",Images/Design/29496-tualatin-master-bedroom-je...
23834,6287,"Traditional Living Room, Charlotte",Images/Design/6287-home-design.jpg
23835,20540,"Modern Dining Room, New York",Images/Design/20540-tribeca-penthouse-lucy-har...
23836,22721,Traditional Dining Room,Images/Design/22721-tudor-revival-estate-full-...
23837,27976,"Eclectic Bedroom, New York",Images/Design/27976-tribeca-loft-andrew-franz-...

In [ ]:
for idx, row in room.iterrows():
    blob = row['bucket_path']
    room_id = row['room_id']
    res, serving_uri = search_product(bucket_name, blob)
    if idx % 100 == 0:
        print(idx)
    for i in range(len(res)):
        for j in range(len(res[i].results)):
            try:
                product_id = res[i].results[j].product.name.split('/')[-1]
                score = res[i].results[j].score
                insert_design2item(room_id, i, product_id, score)
            except:
                print(room_id)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900

In [136]:
result = []
for i in range(len(res)):    
    for j in range(len(res[i].results)):
        d = {}
        d['object'] = i
        d['idx'] = int(res[i].results[j].product.name.split('/', -1)[-1])
        d['name'] = res[i].results[j].product.display_name
        d['score'] = res[i].results[j].score
        result.append(d)

In [137]:
df = pd.DataFrame(result)

In [131]:
def query_product(id):
    '''
    
    '''
    query = f'''
    SELECT id, website, product, image, url, b.group_category 
    FROM project.ProductHeader a
    LEFT JOIN project.category b ON a.category = b.Category
    WHERE id = '{id}'
    '''
    try:
        cur.execute(query)
    except Exception as err:
        print('ERROR BY INSERT:', err)
    result = cur.fetchone()
    return result

In [135]:
query = pd.DataFrame(df['idx'].apply(query_product).tolist(), columns=['idx', 'Website', 'Product Name', 'Image', 'URL', 'Category'])

In [142]:
result = df.merge(query)

In [148]:
for i in result['Category'].unique():
    print(i)

Bench
Object
Pillows
Table
Chair
Bed
Sofa
Lighting